/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.spacer {
  margin-top: 10px;
}

.pad {
  padding: 10px;
}

.main-app {
  h1 {
    display: inline-block;
    font-size: 2.0rem;
    line-height: 2.0rem;
    font-weight: 500;
  }

  h1::before {
    content: "";
    position: relative;
    display: block;
    min-width: 300px;
    width: 100%;
    height: 5px;
    background-color: #3f51b5;
    margin-bottom: 0;
  }

  h1 + h2 {
    margin-top: -16px;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.flex-toolbar {
  flex: 1 1 auto;
}
.full-width {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}
